.about {
  $primary-color: #eee;
  $secondary-color: #fff;
  $tertiary-color: #555;

  width: 100%;
  height: auto;
  min-height: 100vh;
  position: absolute;
  background-color: $primary-color;

  .about-root {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .about-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .about-header {
        background: rgb(40, 40, 40);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        width: 100%;
        height: 380px;
        position: relative;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: linear-gradient(
              180deg,
              rgba(0, 0, 0, 0.2) 0%,
              rgba(0, 0, 0, 0.6) 100%
            ),
            linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, transparent 100%);
          z-index: 2;
        }

        .background-container {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            background: #232a34;
          }
        }

        .title-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          z-index: 3;
          text-align: center;

          h1 {
            color: $secondary-color;
            font-size: clamp(1.2rem, 1vw + 1rem, 2rem);
          }

          p {
            color: $secondary-color;
            font-size: clamp(0.6rem, 1vw + 0.4rem, 1rem);
          }
        }
      }

      .about-body {
        width: 100%;
        height: auto;
        margin-inline: auto;
        padding-inline: 30px;
        margin-bottom: 30px;
        background-color: $primary-color;
        z-index: 3;

        .about-card-container {
          width: 100%;
          height: auto;
          margin: 26px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $secondary-color;
          border-radius: 0.25rem;
          box-shadow: rgb(0 0 0 / 10%) 0px 0px 15px;

          .card-header {
            width: 100%;
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 0.25rem 0.25rem 0 0;
            }
          }

          img.card-logo {
            width: 140px;
            height: 140px;
            position: relative;
            top: -70px;
          }

          .card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
            top: -25px;
            position: relative;
            padding-inline: 150px;
    
            @media screen and (max-width: 1440px) {
              padding-inline: 100px;
            }
    
            @media screen and (max-width: 1100px) {
              padding-inline: 70px;
            }
    
            @media screen and (max-width: 768px) {
              padding-inline: 40px;
            }
    
            @media screen and (max-width: 600px) {
              padding-inline: 10px;
            }
    
            .description {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              padding-inline: 150px;
              text-align: justify;
              font-size: 16px;
              margin-bottom: 30px;
    
              @media screen and (max-width: 1440px) {
                padding-inline: 100px;
              }
    
              @media screen and (max-width: 1100px) {
                padding-inline: 70px;
              }
    
              @media screen and (max-width: 768px) {
                padding-inline: 40px;
              }
    
              @media screen and (max-width: 600px) {
                padding-inline: 10px;
              }
            }
          }
        }

        @media screen and (min-width: 1100px) {
          width: 1080px;
          padding-inline: 0;
        }

        @media screen and (min-width: 1440px) {
          width: 1240px;
          padding-inline: 0;
        }
      }
    }
  }
}
