.admin-navbar {
  $primary-color: #eee;
  $secondary-color: #555;
  $tertiary-color: #fff;
  $quaternary-color: #ef5350;

  width: 100%;
  height: 71px;
  padding: 10px 0px;
  background-color: $primary-color;
  color: $secondary-color;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;


  .navbar-container {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-left {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button.expand-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $tertiary-color;
        color: $secondary-color;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0px 5px 15px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
          transition: all 0.2s ease-in-out;
        }

        @media screen and (max-width: 960px) {
          display: none;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0px;
        padding: 10px 30px;
        color: $secondary-color;
      }
    }

    .item-right {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1rem;
        font-weight: normal;
        margin: 0px;
        padding: 10px 30px;
        color: $secondary-color;
      }

      .profile-container {
        width: 55px;
        height: 50px;

        button.profile-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5px 15px 5px 0px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &:hover {
            box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
            transition: all 0.2s ease-in-out;
          }

          &:focus ~ .profile-dropdown {
            display: flex;
            opacity: 1;
          }

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $tertiary-color;
          }
        }

        .profile-dropdown {
          background-color: $tertiary-color;
          right: 100px;
          top: 15px;
          width: 145px;
          height: auto;
          position: relative;
          border-radius: 4px;
          box-shadow: 0 0 10px rgb(0 0 0 / 10%);

          display: none;
          opacity: 0;
          animation-name: profile-dropdown;
          animation-duration: 200ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;

          &:hover {
            display: flex;
            opacity: 1;
          }

          ul {
            width: 100%;
            height: auto;
            list-style-type: none;
            padding: 13px 0px;
            margin: 0;

            li {
              width: 100%;
              height: 40px;
              padding: 0 5px;

              button {
                width: 100%;
                height: 100%;
                border: none;
                background-color: $tertiary-color;
                padding: 10px 20px;
                border-radius: 3px;
                display: flex;
                color: $secondary-color;
                font-size: 0.8rem;
                transition: all 0.2s ease-in-out;

                &:hover {
                  background-color: $quaternary-color;
                  color: $tertiary-color;
                  font-weight: bold;
                  transition: all 0.2s ease-in-out;
                  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
                }
              }
            }
          }
        }
      }

      button.menu {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 15px 5px 0px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        display: none;

        &:hover {
          box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
          transition: all 0.2s ease-in-out;
        }
      }

      @media screen and (max-width: 960px) {
        p {
          display: none;
        }

        .profile-container {
          display: none;
        }

        button.menu {
          display: inherit;
        }
      }
    }
  }
}

.admin-navbar-scroll {
  $primary-color: #eee;
  $secondary-color: #555;
  $tertiary-color: #fff;
  $quaternary-color: #ef5350;

  width: inherit;
  height: 71px;
  padding: 10px 0px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 15px rgb(255 255 255 / 80%);
  border-bottom: 1px solid $primary-color;
  color: $secondary-color;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;

  .navbar-container {
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-left {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      button.expand-icon {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $tertiary-color;
        color: $secondary-color;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0px 5px 15px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
          box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
          transition: all 0.2s ease-in-out;
        }

        @media screen and (max-width: 960px) {
          display: none;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: normal;
        margin: 0px;
        padding: 10px 30px;
        color: $secondary-color;
      }
    }

    .item-right {
      width: auto;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        font-size: 1rem;
        font-weight: normal;
        margin: 0px;
        padding: 10px 30px;
        color: $secondary-color;
      }

      .profile-container {
        width: 55px;
        height: 50px;

        button.profile-img {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5px 15px 5px 0px;
          cursor: pointer;
          transition: all 0.2s ease-in-out;
  
          &:hover {
            box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
            transition: all 0.2s ease-in-out;
          }

          &:focus ~ .profile-dropdown {
            display: flex;
            opacity: 1;
          }
  
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid $tertiary-color;
          }
        }

        .profile-dropdown {
          background-color: $tertiary-color;
          right: 100px;
          top: 15px;
          width: 145px;
          height: auto;
          position: relative;
          border-radius: 4px;
          box-shadow: 0 0 10px rgb(0 0 0 / 10%);

          display: none;
          opacity: 0;
          animation-name: profile-dropdown;
          animation-duration: 200ms;
          animation-timing-function: ease-in-out;
          animation-fill-mode: forwards;

          &:hover {
            display: flex;
            opacity: 1;
          }

          ul {
            width: 100%;
            height: auto;
            list-style-type: none;
            padding: 13px 0px;
            margin: 0;

            li {
              width: 100%;
              height: 40px;
              padding: 0 5px;

              button {
                width: 100%;
                height: 100%;
                border: none;
                background-color: $tertiary-color;
                padding: 10px 20px;
                border-radius: 3px;
                display: flex;
                color: $secondary-color;
                font-size: 0.8rem;
                transition: all 0.2s ease-in-out;

                &:hover {
                  background-color: $quaternary-color;
                  color: $tertiary-color;
                  font-weight: bold;
                  transition: all 0.2s ease-in-out;
                  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
                }
              }
            }
          }
        }
      }

      button.menu {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 15px 5px 0px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        display: none;

        &:hover {
          box-shadow: 0px 0px 10px rgb(0 0 0 / 15%);
          transition: all 0.2s ease-in-out;
        }
      }

      @media screen and (max-width: 960px) {
        p {
          display: none;
        }

        .profile-container {
          display: none;
        }

        button.menu {
          display: inherit;
        }
      }
    }
  }
}

@keyframes profile-dropdown {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}